* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.main {
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url("/img/body_bg.png");
    margin-bottom: 0;
    justify-items: center;
    align-items: center;
}

.container {
    width: 80%;
    margin: 50px 0;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url("/img/container_bg.png");
}

.nav-menu {
    margin-bottom: 0;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
}

input, textarea {
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
}

.search-input{
    margin: 0;
}

textarea {
    height: 100px;
    resize: none;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

#cancelButton {
    background-color: #f44336;
    color: white;
}

#cancelButton:hover{
    background-color: #e53935;
}

#shareForm {
    display: flex;
    flex-flow: column nowrap;
}

.primarySection {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: center;
}

.pkmData {
    width: 95%;
    height: 100%;
}

.emailInputs {
    width: 95%;
}

.secondarySection {
    margin-top: 15px;
}

.secondarySection label{
    margin-left: 10px;
}

#resultsContainer {
    margin-top: 15px;
}

.sharedResult {
    height: 132px;
    margin: 0;
}

/* Estilo para el mensaje de error con el icono de alerta */
.error {
    color: red;
    font-size: 0.9rem;
    /* margin-top: 5px; */
    margin-bottom: 10px;
    font-weight: bold;
    background-color: #ffe6e6;
    border: 1px solid red;
    padding: 5px;
    border-radius: 3px;
    display: inline-block;
    max-width: 100%;
    position: relative;
}

.error i {
    margin-right: 5px;
}

/* Estilo para el campo de input en estado inválido */
.invalid {
    border: 2px solid red;
    animation: shake 0.3s;
}

/* Animación de vibración (shake) */
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

/* Restaurar el input a su estado normal cuando se hace clic */
input:focus {
    border: 2px solid #ccc;
    background-color: white;
}


/* Responsive ============================================================== */

/* Móviles en orientación horizontal */
@media (min-width: 480px) {

    .pkmData {
        width: 80%;
        height: 100%;
    }

    .emailInputs {
        width: 80%;
    }

}

/* Tablets en orientación vertical */
@media (min-width: 768px) {

    .pkmData {
        width: 70%;
        height: 100%;
    }

    .emailInputs {
        width: 70%;
    }

}

/* Tablets en orientación vertical o escritorios normales */
@media (min-width: 1024px) {

    .pkmData {
        width: 49%;
        height: 100%;
    }

    .emailInputs {
        width: 49%;
    }

}

/* Escritorios muy anchos */
@media (min-width: 1200px) {

    .pkmData {
        width: 50%;
        height: 100%;
    }

    .emailInputs {
        width: 20%;
    }

    .secondarySection {
        width: 70%;
        align-self: center;
    }

}
